@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Crete+Round:ital@1&family=Gemunu+Libre:wght@800&family=Kanit:wght@200&family=Montserrat:ital,wght@1,900&family=Ms+Madi&family=Nunito:wght@600&family=Oswald:wght@700&display=swap');


@layer components{
    .navItems{
        @apply md:hover:!text-[#fd7e14] group-hover:text-gray-500 cursor-pointer transition-all duration-200 ease-in-out italic
    }

    body {
        overflow: visible !important;
      }

    .btn2 span:first-child{
        transform: translateX(-101%);
        transition: transform .3s ease-in      ;
        -webkit-transform: translateX(-101%);
        -moz-transform: translateX(-101%);
        -ms-transform: translateX(-101%);
        -o-transform: translateX(-101%);
}
    .btn2:hover span{
        transform: translateX(0)
      }
}